html, body, #displayer-svg {
  width: 100%;
  height: 100%;
  margin: 0;
}

#displayer-svg {
  /* Needed for positioning behind the menu */
  position: fixed;
}

#displayer-svg :not(.opaque) {
  animation: fadeIn 1s;
}

.opaque {
  opacity: 0.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}