html, body, #displayer-svg {
  width: 100%;
  height: 100%;
  margin: 0;
}

#displayer-svg {
  /* Needed for positioning behind the menu */
  position: fixed;
}

#displayer-svg :not(.half-opaque) :not(.almost-opaque) {
  animation: fadeIn 1s;
}

.half-opaque {
  opacity: 0.5;
}

.almost-opaque {
  opacity: 0.1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}